In [ ]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib.patches as mpatches
from numpy import average
import datetime as dt
from datetime import datetime
from matplotlib.pyplot import figure
import seaborn as sns

In [ ]:
#import each sheet with the correct title and point to the first row as column headers

products = pd.read_excel(
    'sales original.xlsx', 
    sheet_name='products',
    header=0)

stock = pd.read_excel(
    'sales original.xlsx', 
    sheet_name='stock',
    header=0)

assessment = pd.read_excel(
    'sales original.xlsx', 
    sheet_name='assessment',
    header=0)

invoices = pd.read_excel(
    'sales original.xlsx', 
    sheet_name='invoices',
    header=0)

customers = pd.read_excel(
    'sales original.xlsx', 
    sheet_name='customers',
    header=0)

In [54]:
#check to see how the sheets look before continuing
products.head()

         ASIN                                              title product_type
0  B07GWKDLGT  Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....  dslr camera
1  B01MTLH408  Manfrotto Element Aluminum 5-Section Monopod, ...  dslr camera
2  B0064FS7HI  STK LP-E8 Battery for Canon Rebel T5i, T3i, T2...  dslr camera
3  B013JHU5YG  Lowepro Whistler BP 350 AW (Grey) . Profession...  dslr camera
4  B06XWN9Q99  Samsung (MB-ME32GA/AM) 32GB 95MB/s (U1) microS...  dslr camera

In [55]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554417 entries, 0 to 554416
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ASIN          554417 non-null  object
 1   title         554417 non-null  object
 2   product_type  554417 non-null  object
dtypes: object(3)
memory usage: 12.7+ MB

In [56]:
stock.head()

  StockCode        ASIN
0     21703  B07GWKDLGT
1     40001  B01MTLH408
2    85034A  B0064FS7HI
3    72798C  B013JHU5YG
4     20726  B06XWN9Q99

In [57]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554417 entries, 0 to 554416
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   StockCode  554417 non-null  object
 1   ASIN       554417 non-null  object
dtypes: object(2)
memory usage: 8.5+ MB

In [63]:
assessment.head()

   rating  review_count        ASIN
0     4.6          1399  B07GWKDLGT
1     4.6           289  B01MTLH408
2     4.4           333  B0064FS7HI
3     4.3            86  B013JHU5YG
4     4.7         15717  B06XWN9Q99

In [62]:
assessment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554417 entries, 0 to 554416
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   rating        554417 non-null  float64
 1   review_count  554417 non-null  int64
 2   ASIN          554417 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 12.7+ MB

In [61]:
invoices.head()

,InvoiceNo,ASIN,Quantity,price,total_sale,invoice_date,invoice_time,CustomerID
0,78536597,B07GWKDLGT,4,496.95,1987.80,2018-12-01,17,18011
1,78536597,B01MTLH408,4,39.99,159.96,2018-12-01,17,18011
2,78536597,B0064FS7HI,1,12.99,12.99,2018-12-01,17,18011
3,78536597,B013JHU5YG,1,199.99,199.99,2018-12-01,17,18011
4,78536597,B06XWN9Q99,1,7.49,7.49,2018-12-01,17,18011

In [60]:
invoices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554417 entries, 0 to 554416
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     554417 non-null  object
 1   ASIN          554417 non-null  object
 2   Quantity      554417 non-null  int64
 3   price         554417 non-null  float64
 4   total_sale    554417 non-null  float64
 5   invoice_date  554417 non-null  datetime64[ns]
 6   invoice_time  554417 non-null  int64
 7   CustomerID    554417 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 33.8+ MB

In [59]:
customers.head()

  CustomerID  Country
0      18011  Germany
1      18011  Germany
2      18011  Germany
3      18011  Germany
4      18011  Germany

In [58]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554417 entries, 0 to 554416
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   CustomerID  554417 non-null  object
 1   Country     554417 non-null  object
dtypes: object(2)
memory usage: 8.5+ MB

In [64]:
#there are many empty entries in CustomerID (in both invoices and customers). Could be due to guest checkout. IP tracking for unique IDs problematic (data protection) so perhaps better to label with a GuestID number. 
# So these can be differentiated from missing data. Done this way as table is populated each time a new transaction is completed (normal for this kind of )
display(customers['CustomerID'].unique().size)
display(invoices['CustomerID'].unique().size)

4340

4340

In [65]:
#this won't catch it as it is text in the form of "Null", therefore the cell has characters in it and is not deemed to be empty.
invoices.CustomerID.isnull().values.any()

False

In [66]:
#this won't catch it as it is text in the form of "Null", therefore the cell has characters in it and is not deemed to be empty.
customers.CustomerID.isnull().sum()

0

In [67]:
#pasting to clipboard to look at it on Excel.
#customers.to_clipboard()

In [74]:
customers.CustomerID.apply(lambda x: isinstance(x, (int, float)))

0         True
1         True
2         True
3         True
4         True
          ...
554412    True
554413    True
554414    True
554415    True
554416    True
Name: CustomerID, Length: 554417, dtype: bool

In [ ]:
#num_customers = (customers.drop('CustomerID', axis=1).join(customers['CustomerID'].apply(pd.to_numeric, errors='coerce')))

#num_customers = num_customers[num_customers['CustomerID'].notnull().all(axis=1)]

In [76]:
#Replacing the "Null" text with a more appropriate number. 5 digits in line with other customer codes
customers.CustomerID.replace({'Null': '00001'}, regex=True)
invoices.CustomerID.replace({'Null': '00001'}, regex=True)

0         18011
1         18011
2         18011
3         18011
4         18011
          ...
554412    12433
554413    12433
554414    13069
554415    13069
554416    13069
Name: CustomerID, Length: 554417, dtype: object

In [96]:
#converting invoice time to a timestamp and date to datetime obj
t= invoices['invoice_time']
invoices['invoice_time'] = pd.to_datetime(t, format='%H').dt.time

#d = invoices['invoice_date']
#invoices['invoice_date'] = pd.to_datetime(d).dt.date

invoices['invoice_date'] = invoices.apply(lambda r : pd.datetime.combine(r['invoice_date'],r['invoice_time']),1)

invoices.drop('invoice_time', axis=1, inplace=True)

In [99]:
invoices

,InvoiceNo,ASIN,Quantity,price,total_sale,invoice_date,CustomerID
0,78536597,B07GWKDLGT,4,496.95,1987.80,2018-12-01 17:00:00,18011
1,78536597,B01MTLH408,4,39.99,159.96,2018-12-01 17:00:00,18011
2,78536597,B0064FS7HI,1,12.99,12.99,2018-12-01 17:00:00,18011
3,78536597,B013JHU5YG,1,199.99,199.99,2018-12-01 17:00:00,18011
4,78536597,B06XWN9Q99,1,7.49,7.49,2018-12-01 17:00:00,18011
...,...,...,...,...,...,...,...
554412,78581476,B00SB6SPA2,12,14.99,179.88,2019-12-09 08:00:00,12433
554413,78581476,B07TKTRX6B,6,29.99,179.94,2019-12-09 08:00:00,12433
554414,78581475,B07P8CK47X,12,6.97,83.64,2019-12-09 08:00:00,13069
554415,78581475,B07BDGPDKS,20,13.99,279.80,2019-12-09 08:00:00,13069
554416,78581475,B018KIJGU8,12,59.00,708.00,2019-12-09 08:00:00,13069